.osnow{
    position: absolute;
    width: 500px;
    height: 400px;
    background-color: rgb(44, 165, 44);
    left: 40%;
    z-index: 1;
}

.b1{
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: rgb(255, 255, 255);
    left: 40px;
    top: 40px;
    z-index: 2;
}

.b2{
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: rgb(255, 255, 255);
    left: 350px;
    top: 250px;
    z-index: 2;
}